@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

/* 2xl */
@media screen and (max-width: 1535px) {
   .container {
      @apply max-w-300;
   }

   .s-padding {
      padding: 5.5rem 0;
   }

   .s-padding-t {
      padding-top: 5.5rem;
   }

   .s-padding-b {
      padding-bottom: 5.5rem;
   }

   .s-margin {
      margin: 5.5rem 0;
   }

   .s-margin-t {
      margin-top: 5.5rem;
   }

   .s-margin-b {
      margin-bottom: 5.5rem;
   }

   .brands-cover::after,
   .brands-cover::before {
      width: 250px;
   }
}

/* XL */
@media screen and (max-width: 1279px) {
   .container {
      @apply max-w-5xl;
   }
}

/* LG */
@media screen and (max-width: 1023px) {
   .container {
      @apply max-w-3xl;
   }

   .s-padding {
      padding: 4.5rem 0;
   }

   .s-padding-t {
      padding-top: 4.5rem;
   }

   .s-padding-b {
      padding-bottom: 4.5rem;
   }

   .s-margin {
      margin: 4.5rem 0;
   }

   .s-margin-t {
      margin-top: 4.5rem;
   }

   .s-margin-b {
      margin-bottom: 4.5rem;
   }

   .brands-cover::after,
   .brands-cover::before {
      width: 200px;
   }
}

/* MD */
@media screen and (max-width: 767px) {
   .container {
      @apply max-w-160;
   }

   .s-padding {
      padding: 4rem 0;
   }

   .s-padding-t {
      padding-top: 4rem;
   }

   .s-padding-b {
      padding-bottom: 4rem;
   }

   .s-margin {
      margin: 4rem 0;
   }

   .s-margin-t {
      margin-top: 4rem;
   }

   .s-margin-b {
      margin-bottom: 4rem;
   }

   .brands-cover::after,
   .brands-cover::before {
      width: 150px;
   }
}

/* SM */
@media screen and (max-width: 639px) {
   .container {
      @apply max-w-full;
   }

   .brands-cover::after,
   .brands-cover::before {
      width: 100px;
   }
}

/* XS */
@media screen and (max-width: 479px) {

   .brands-cover::after,
   .brands-cover::before {
      width: 75px;
   }
}